// Place all the styles related to the customer::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    height: 1024px;
}
// showページ

.customer{
    margin-left: 60px;
    margin-bottom: 30px;
}
.link_index{
    float: left;
}
    h3{
        padding-left: 70px;
        background-color: ivory;
    }
    th{
        padding: 0px;
    }
    .customer_info{
        width: 70%;
        margin-top: 20px ;
        margin-bottom: 20px ;
    }

table{
    width: 70%;
}
.address{
    padding-right: 18px;
}


.edit_customer_form{
    td{
        padding: 5px;
    }
    .submit{
        float: left;
    }
    .submit_form{
        float: left;
    }
}
.submit_form{
    margin-top: 20px;
}
.quit{
    margin-left: 300px;
    margin-top: 20px;
}

.sign_up_link{
    padding-left: 70px;
}

.sign_in{
    width: 100%;
}


.sign_up{
    height: auto;
    padding-left: 70px;
    tr{
        margin-bottom: 10px;
    }
}
.sign_up_link{
    padding-left: 100px;
}
input[type="email"]{
    width: 300px;
}
input[type="password"]{
    width: 300px;
}