= form_with model:item,url: url,local: true do |f|
  .itmes.form-controll
    .col-lg-4
      .prev-contents
        - if @item.item_image.present?
          .prev-content
            = attachment_image_tag item, :item_image , class: "prev-image"
      = f.attachment_field :item_image ,class: "hidden_file"
    .col-lg-8
      .row
        = f.label :商品名　　　　
        = f.text_field :name,placeholder: "商品名の重複 不可"
      .row
        = f.label :商品説明　　　
        = f.text_area :description ,placeholder: "10文字以上 140字以内"
      .row
        = f.label :ジャンル　　　
        = f.collection_select :genre_id, Genre.all, :id, :name
      .row
        = f.label :税抜価格　　　
        = f.text_field :price, placeholder: "半角数字のみ"
        |  円 
      .row
        = f.label :販売ステータス
        = f.select :is_selling, [["販売中", true], ["売り切れ", false]], include_blank: "選択して下さい"
        br
  .row
    .col-lg-12
      = f.submit submit_name ,class: 'btn btn-primary submit_item'
