<div class="container">
  <div class="row">
  <div class="col-lg-3">
    <h3>商品編集</h3>

<% if @item.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  </div>
  <div class="col-md-9 col-md-offset-2">
    <%= render 'form', item: @item , url: admin_item_path, submit_name: "編集する"%>
  </div>
  </div>
</div>
<% if @item.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>