<div class="container">
	<h1>ABOUT US</h1>
<br>
	<h2>このサイトについて</h2>
	<p>長野県にある小さな洋菓子店なので、注文に応じて商品を作成する受注販売としております。</p>
	<p>ご友人様やご家族様へのプレゼントなど、注文者様以外の住所にも商品をご発送していただけます。</p>
	<p>送料は１配送につき全国一律８００円頂戴します。</p>
	<p>お支払い方法はクレジットカード、銀行振込からお選びいただけます。</p>
<br>
	<h2>店舗情報 <i class="fab fa-twitter-square"></i> <i class="fab fa-instagram-square"></i> <i class="fab fa-facebook-square"></i></h2>
	<h3>住所</h3>
	<p>長野県長野市軽井沢1-2-345</p>
	<h3>電話番号</h3>
	<p><a href="tel:0123456789">012-3456-789</a>
	</p>
	<h3>メールアドレス</h3>
	<p><a href="mailto:naganocake&#64;dmm.webcom">naganocake&#64;dmm.webcamp</a></p>
</div>