<h3>会員一覧</h3>
<div class="customers_index">
    <table class="table">
        <tr class="active">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
        <% @customers.each do |customer| %>
        <tr>
                <td><%= customer.id %></td>
                <td><%= link_to customer.name, admin_customer_path(customer) %></td>
                <td><%= customer.email %></td>
                <td><%= customer.is_valid %></td>
        </tr>
        <% end %>
    </table>
</div>