/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "bootstrap-sprockets";
@import "bootstrap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.sidebar{
	background-color: rgba(190,176,152,0.4);
	min-height: 100vh;
	margin: 30px 0;
	position: relative;
}

.sidebar .box{
	margin: 30px 0;
	li{
		list-style: none;
	}
}

.sidebar .to_top{
	position: absolute;
	bottom: -5%;
	right: 5%;
	a{
		color: rgb(117,101,93);
	}
	a:hover{
	color: rgb(190,176,152);
	}
}


.sidebar a{
	text-decoration: none;
}

.container{
	min-height: 600px;
}

select{
  /* styling */
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.welcome{
  background-color: ivory;
  padding-left: 20px;
}

h1.h2,h3,h4,h5,h6{
  color: rgb(117,101,93);
}

a{
  color: rgb(136,191,193);
}


a:hover{
  text-decoration: none;
}

.edit_customer, .admin_show_customer, .customer_sign_up{
  border-collapse: inherit;
  border-spacing: 20px;
}



header{
  background-color: rgba(190,176,152,0.4);
  width: 100%;
  .admin-header{
    h3{
      float: left;
    }
    a{
      color: #75655d;
    }
  }
  .header-bottom{
    height: 150px;
    ul{
      padding: 45px 10px;
      text-align: center;
      width: 100%;
      a{
        color: #75655d;
      }
    }
  }
}

.navbar-right {
  margin-right: 15px;
}

.navbar{
  margin-bottom: -20px;
}
