<%# 未ログイン時には表示させる %>
<div class="sidebar">
    <%# 統一 %>
    <div class="sidebar_genres">
        <% if customer_signed_in? %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">カート内商品<h3>
                </div>
            </div>
            <div class="panel-body">
            <% @cart_items.each do |cart_item| %>
                <ul>
                    <li><%= cart_item.item.name %> × <%= cart_item.count %></li>
                </ul>
            <% end %>
            <p>
                <%= link_to "注文に進む", orders_new_path, class: "btn btn-info" %>
            </p>
            <% end %>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">ジャンル検索</h3>
                </div>
            </div>
            <div class="panel-body">
        <ul>
            <% genres = Genre.all %>
            <% genres.each do |genre| %>
            <li>
                <%= link_to genre.name, customer_items_path(genre_id: genre.id) %>
            </li>
            <% end %>
        </ul>
        </div>
    </div>
</div>
