<footer>

  <div>©ながのCAKE</div>
    <div class="url">
	   <%= link_to '購入履歴一覧',orders_new_path %>
	   <%= link_to '登録情報変更',edit_admin_customer_path %>
	   <%= link_to '商品一覧',admin_items_path %>
	   <%= link_to 'トップページ',admin_root_path %>
	</div>

</footer>