<footer>

  <div>©ながのCAKE</div>
    <div class="url">
	   <%= link_to '購入履歴一覧','' %>
	   <%= link_to '登録情報変更','' %>
	   <%= link_to '商品一覧','' %>
	   <%= link_to 'トップページ','' %>
	</div>

</footer>